@using ExamProject.Models.DTOs.TrackDTOs
@model EditTrackDTO
@{
    ViewBag.Title = "Create Track";
}

<h2>Create Track</h2>

<form asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Duration" class="form-label"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="GetAll" class="btn btn-secondary">Cancel</a>
</form>


